.parent {
	overflow: hidden;
}

.child {
	float: left;
	height: 5px;
	padding: 10px;
	width: 5px;
}

.gray {
	background-color: #F9F9F9;
}

.cyan {
	background-color: #00FFFF;
}

.magenta {
	background-color: #FF00FF;
}

.yellow {
	background-color: #FFFF00;
}

.black {
	background-color: #000000;
}