div{
	background: #FFBC03;
	float: left;
	height: 5px;
	padding: 10px;
	width: 5px;
}

.black {
	background: #000000;
}

.brown1 {
	background: #4B2500;
}

.brown2 {
	background: #663100;
}

.brown3 {
	background: #794923;
}

.brown4 {
	background: #986331;
}

.cream1 {
	background: #FE9867;
}

.cream2 {
	background: #FB894F;
}

.white {
	background: #F8EBD0;
}
.blue {
	background: #003265;
}
.gray {
	background: #333030;
}

.clear {
	clear: both;
}