div {
	float: left;
	height: 5px;
	padding: 10px;
	width: 5px;
}

.gray {
	background: #F9F9F9;
}

.cyan {
	background: #00FFFF;
}

.magenta {
	background: #FF00FF;
}

.yellow {
	background: #FFFF00;
}

.black {
	background: #000000;
}

.clear {
	clear: both;
}